## UN project

3.Import the required packages with their customary aliases as follows:

 ## Read in gdp data as csv

In [72]:
    import pandas as pd   
    import numpy as np  
    import matplotlib.pyplot as plt  
    import seaborn as sns

4.	Using the pandas `read_csv()` method, read the GDP dataset into your notebook as a DataFrame called `gdp_df`. Take a look at the first few and last few rows to familiarize yourself with what is contained in this dataset.

In [73]:
gdp_df =pd.read_csv('../data/gdp_percapita.csv.csv')

In [74]:
gdp_df.head()

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2020  1970.560169              NaN
1     Afghanistan  2019  2065.036235              NaN
2     Afghanistan  2018  2033.804389              NaN
3     Afghanistan  2017  2058.400221              NaN
4     Afghanistan  2016  2057.067978              NaN

In [75]:
gdp_df.tail()

     Country or Area  Year        Value  Value Footnotes
7171        Zimbabwe  1994  2603.927369              NaN
7172        Zimbabwe  1993  2420.092791              NaN
7173        Zimbabwe  1992  2437.152908              NaN
7174        Zimbabwe  1991  2733.696626              NaN
7175        Zimbabwe  1990  2652.129209              NaN

5. How many rows and columns are in `gdp_df`? What are the data types of each column?

In [76]:
gdp_df.shape

(7176, 4)

In [77]:
## data type for each column

In [78]:
gdp_df.dtypes

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

In [79]:
gdp_df.columns

Index(['Country or Area', 'Year', 'Value', 'Value Footnotes'], dtype='object')

6. Drop the `Value Footnotes` column and rename the remaining three to 'Country', 'Year', and 'GDP_Per_Capita'.

In [80]:
gdp_df = gdp_df.drop(columns = ['Value Footnotes'])

In [81]:
gdp_df.columns

Index(['Country or Area', 'Year', 'Value'], dtype='object')

In [82]:
## rename

In [83]:
gdp_df = gdp_df.rename(columns = {'Country or Area' : 'Country','Year' : 'Year','Value' : 'GDP_Per_Captia'})

In [84]:
gdp_df

          Country  Year  GDP_Per_Captia
0     Afghanistan  2020     1970.560169
1     Afghanistan  2019     2065.036235
2     Afghanistan  2018     2033.804389
3     Afghanistan  2017     2058.400221
4     Afghanistan  2016     2057.067978
...           ...   ...             ...
7171     Zimbabwe  1994     2603.927369
7172     Zimbabwe  1993     2420.092791
7173     Zimbabwe  1992     2437.152908
7174     Zimbabwe  1991     2733.696626
7175     Zimbabwe  1990     2652.129209

[7176 rows x 3 columns]

7. How many countries have data for all years? Which countries are missing many years of data? Look at the number of observations per year. What do you notice?

In [85]:
## to see any possible null countries and how many countries have data all years

In [86]:
gdp_df.Country.value_counts(dropna = False)

Country
Least developed countries: UN classification    31
Niger                                           31
Middle East & North Africa (IDA & IBRD)         31
Middle income                                   31
Mongolia                                        31
                                                ..
Kosovo                                          13
Turks and Caicos Islands                        10
Sint Maarten (Dutch part)                       10
Somalia                                          8
Djibouti                                         8
Name: count, Length: 242, dtype: int64

In [87]:
## no null value

In [60]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7176 entries, 0 to 7175
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         7176 non-null   object
 1   Year            7176 non-null   int64
 2   GDP_Per_Captia  7176 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 168.3+ KB

In [ ]:
## 7176 countries have data.

In [91]:
gdp_df['Country']==31

0       False
1       False
2       False
3       False
4       False
        ...
7171    False
7172    False
7173    False
7174    False
7175    False
Name: Country, Length: 7176, dtype: bool

In [93]:
gdp_df.loc[gdp_df['Country'] == 31]

Empty DataFrame
Columns: [Country, Year, GDP_Per_Captia]
Index: []

In [33]:
## Which countries are missing many years of data
## Somalia and Djibouti

In [18]:
gdp_df.Year.value_counts()

Year
2018    242
2017    242
2016    242
2015    242
2014    242
2013    242
2019    241
2020    240
2012    240
2011    240
2010    239
2009    239
2008    238
2007    237
2006    237
2004    236
2005    236
2003    235
2002    235
2001    234
2000    233
1999    227
1998    226
1997    226
1996    222
1995    222
1994    211
1993    209
1992    208
1991    207
1990    206
Name: count, dtype: int64

8. In this question, you're going to create some plots to show the distribution of GDP per capita for the year 2020. Go to the Python Graph Gallery (https://www.python-graph-gallery.com/) and look at the different types of plots under the Distribution section. Create a histogram, a density plot, a boxplot, and a violin plot. What do you notice when you look at these plots? How do the plots compare and what information can you get out of one type that you can't necessarily get out of the others?

In [65]:
    import matplotlib.pyplot as plt  
    import seaborn as sns

In [ ]:
gdp_df = plt.read_csv('../data/gdp_percapita.csv.csv')